################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
.idea
HostChecker/bin/
HostChecker/obj
bin/
obj/
